body {
    background-color: #1E1E21;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.custom-slider {
    width: 1600px;
    padding: 0 20px
}

.custom-slider-main-anons {
    width: 1680px;
}