body {
    background-color: #1E1E21;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}

.custom-slider {
    width: 1600px;
    padding: 0 20px
}

.custom-slider-main-anons {
    width: 1680px;
}

.custom-slider-movies {
    width: 1680px;
    padding: 2px
}

.active {
    z-index: 2; /* Вищий z-index для активного елемента */
}