@font-face {
  font-family: "Ordina-Regular";
  src: url("/fonts/Ordina-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "RFDewiExtended-Semibold";
  src: url("/fonts/RFDewiExtended-Semibold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #1e1e21;
  font-family: "RFDewiExtended-Semibold", sans-serif;
  margin: 0;
}

.custom-slider {
  width: 1600px;
  padding: 0 20px;
}

.custom-slider-main-anons {
  width: 1680px;
}

.custom-slider-movies {
  width: 1680px;
  padding: 2px;
}

.active {
  z-index: 2;
}

@media screen and (max-width: 375px) {
  .custom-slider {
    width: 375px;
    padding: 0;
  }

  .custom-slider-main-anons,
  .custom-slider-movies{
    width: 375px;
  }

}